html, body {
  font-family: 'Segoe UI';
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: top;
  padding-top: 5%;
  background-color: #101047;
}

.joinInnerContainer {
  width: 30%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
}

.title {
  color: white;
  font-size: 1.8em;
  padding-bottom: 0px;
  font-weight: bold;
  margin: 0;
}

.heading {
  color: white;
  font-size: 1.6em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  font-weight: normal;
}

.text {
  color: white;
  font-size: 1.1em;
  padding-top: 0px;
  padding-bottom: 50px;
  font-weight: lighter;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    width: 100%;
    font-size: 1em;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}