apiVersion: v1
kind: Service
metadata:
  name: webchat-okteto-backend
spec:  
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
  selector:
    app: webchat-okteto-backend