.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  height: 9vh;
}

.input {
  border: none;
  border-radius: 0 0 0 10px;
  margin-left: 5%;
  width: 80%;
  font-size: 1em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 0px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 0 0 10px 0;
  font-size: 1em;
}